.about {
  background-color: $color-default-white;
  padding-top: 29px;
  padding-bottom: 35px;
}

.about__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}

.about__title {
  font-family: $ff-inter;
  font-weight: 600;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: calc(1em / 200);
  color: $color-blue-charcoal;
  margin: 0;
  grid-column: 1 / -1;
}

.about__list-team {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  font-family: $ff-inter;
  font-size: 32px;
  text-transform: lowercase;
  margin: 60px 0 0;
  padding: 0;
  grid-column: 1 / -1;
}

.about__item-team {
  margin-right: 35px;
  padding: 5px 0;
}

.about__item-team-quantity {
  color: $color-persian-red;
  margin-right: 7px;
}

.about__item-team-name {
  color: $color-blue-charcoal;
}

.about__wrapper-image {
  grid-column: 2 / 3;
  grid-row: 3 / 5;
}

.about__image-link {
  padding: 0;
  background-color: $color-default-white;
  margin-top: 60px;
  position: relative;

  &::before {
    content: "Команда агентства «Дрожжи»";
    display: block;
    color: $color-bali-hai;
    position: absolute;
    bottom: -32px;
    left: calc(50% - 120px) ;
    font-family: $ff-inter;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: calc(1em / 30);
  }
}

.about__image {
  background-color: $color-blue-charcoal;
}

.about__description {
  font-family: $ff-inter;
  font-size: 18px;
  line-height: 150%;
  margin-top: 60px;
  margin-left: 3px;
  letter-spacing: calc(1em / 29);
}

.about__description-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  max-width: 506px;
  margin-top: 65px;
}

.about__description-item {
  display: flex;
  flex-direction: column;
}

.about__description-item-quantity {
  font-family: $ff-inter;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  color: $color-persian-red;
}

.about__description-item-name {
  font-family: $ff-inter;
  font-size: 18px;
  line-height: 150%;
  text-transform: lowercase;
  margin-top: 10px;
}

.about__button {
  font-size: 18px;
  padding: 5px 67px;
  margin-left: 0;
  margin-top: 32px;
  margin-bottom: 17px;
  letter-spacing: calc(1em / 200);
  min-height: 72px;
  display: flex;
  align-items: center;
}

@include vp-767 {
  .about {
    padding-top: 18px;
  }

  .about__wrapper {
    display: flex;
    flex-direction: column;
  }

  .about__description-list {
    display: flex;
    flex-direction: column;
  }

  .about__list-team {
    margin: 31px 0 0;
  }

  .about__item-team {
    margin-right: 0;

    &:not(:last-child) {
      margin-bottom: 36px;
    }
  }

  .about__description {
    margin-top: 34px;
    margin-left: 0;
  }

  .about__description-list {
    margin-top: 33px;
  }

  .about__description-item {
    &:not(:last-child) {
      margin-bottom: 34px;
    }
  }

  .about__description-item-name {
    &--one {
      margin-right: 70px;
    }
  }

  .about__wrapper-image {
    order: 1;
  }

  .about__button {
    margin: 32px 21px 0 18px;
    min-height: 59px;
  }

  .about__image-link {
    margin-top: 32px;
  }
}